In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_excel("question.xlsx", index_col = None)

In [3]:
train_data["Age"]

0      <=30
1      <=30
2     31…40
3       >40
4       >40
5       >40
6     31…40
7      <=30
8      <=30
9       >40
10     <=30
11    31…40
12    31…40
13      >40
Name: Age, dtype: object

In [4]:
train_data.iloc[0]["Age"]

'<=30'

In [5]:
train_data.columns

Index(['Age', 'Income', 'Student', 'Credit Rating', 'Buy Car'], dtype='object')

In [6]:
for data in train_data.columns:
    print(train_data.iloc[0])

Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object
Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object
Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object
Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object
Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object

In [42]:
class_0 = "Yes"
class_1 = "No"
class_row = "Buy Car"

In [7]:
def unique_counter(data):
    values, counts = np.unique(data, return_counts=True)
    return dict(zip(values,counts)) #how many times each unique value occurring

In [8]:
def info_calculator(values):
    total = sum(values)
    numbers = []
    for value in values:
        numbers.append((value/total) * np.log2(value/total))
    return sum([-1 * number for number in numbers])

In [ ]:
def pn(data):
    return 0

In [62]:
def class_info_calculator(data, target):
    types = unique_counter(data[target])
    infos = []
    for key in types.keys():
        c1 = data[(data[target] == key) & (data[class_row] == class_0)].shape[0]
        c2 = data[(data[target] == key) & (data[class_row] == class_1)].shape[0]
        each_info = info_calculator([c1,c2])
        infos.append(each_info if not np.isnan(each_info) else 0)
    total = sum(types.values())
    print(types)
    print(infos)
    print(total)

    numbers = []
    for type_value, value in zip(types.values(), infos):
        if value != 0:
            numbers.append((type_value/total) * np.log2(value))
        else:
            numbers.append(0)
    return sum([-1 * number for number in numbers])

In [10]:
test = unique_counter(train_data["Buy Car"]).values()

In [11]:
test

dict_values([5, 9])

In [12]:
info_calculator(test)

0.9402859586706311

In [63]:
class_info_calculator(train_data, "Age")

{'31…40': 4, '<=30': 5, '>40': 5}
[0, 0.9709505944546686, 0.9709505944546686]
14

C:\Users\recep\AppData\Local\Temp\ipykernel_1096\3424761301.py:5: RuntimeWarning: divide by zero encountered in log2
  numbers.append((value/total) * np.log2(value/total))
C:\Users\recep\AppData\Local\Temp\ipykernel_1096\3424761301.py:5: RuntimeWarning: invalid value encountered in double_scalars
  numbers.append((value/total) * np.log2(value/total))

0.03037871929784009