In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_excel("question.xlsx", index_col = None)

In [3]:
train_data["Age"]

0      <=30
1      <=30
2     31…40
3       >40
4       >40
5       >40
6     31…40
7      <=30
8      <=30
9       >40
10     <=30
11    31…40
12    31…40
13      >40
Name: Age, dtype: object

In [4]:
train_data.iloc[0]["Age"]

'<=30'

In [5]:
train_data.columns

Index(['Age', 'Income', 'Student', 'Credit Rating', 'Buy Car'], dtype='object')

In [6]:
for data in train_data.columns:
    print(train_data.iloc[0])

Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object
Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object
Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object
Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object
Age              <=30
Income           High
Student            No
Credit Rating    Fair
Buy Car            No
Name: 0, dtype: object

In [7]:
def unique_counter(data):
    values, counts = np.unique(data, return_counts=True)
    return dict(zip(values,counts)) #how many times each unique value occurring

In [8]:
def info_calculator(values):
    total = sum(values)
    numbers = []
    for value in values:
        numbers.append((value/total) * np.log2(value/total))
    return sum([-1 * number for number in numbers])

In [12]:
def class_info_calculator(data):
    types = unique_counter(data)

In [9]:
test = unique_counter(train_data["Buy Car"]).values()

In [10]:
test

dict_values([5, 9])

In [11]:
info_calculator(test)

0.9402859586706311

In [13]:
class_info_calculator(train_data["Age"])

{'31…40': 4, '<=30': 5, '>40': 5}